
.display img{
	height: 100%;
	margin: 0 auto;
}
.option{
	float: left;
	font-size: 4em;
}
.option-bar{
	display: block;
	width: 100%;
	height: 30px;
	padding-bottom: 0px;
}
.next-btn{
	font-size: 4em;
	display: block;
	width: 100%;
}