*{
	margin: 0px;
	padding: 0px;
}

a{
	font-size: 4em;
}
p{
	font-size: 3em;
}
div{
	display: block;
}
body{
	background-color: #ccc;
	width: 100%;
	height: 100%;
	font-family: "Microsoft YaHei",arial;
	
}
.center{
	margin: 0 auto;
	width: auto;
	/*width: 100%;
	height: 100%;*/
	text-align: center;
}
.clearfix:after {

	content: ".";
	
	display: block;
	width: auto;
	height: 0;
	
	clear: both;
	
	visibility: hidden;

}
#content{overflow:hidden;
	/*width: 300px;
	height: 500px;
	margin: 20px auto;*/
	width: 100%;
	height: 100%;
	background-color: white;
}
a{
	 text-decoration: none;
	 text-align: center;
}



.top-bar{
	padding-top: 3px;
	width: 100%;
	height: 10%;
	background-color: antiquewhite;
}
.top-bar p{
	font-size: 3em;
	width: 50%;
	float: left;
	padding-top: 10px;
	padding-left: 25px;
	
}
.top-bar a{
	font-size: 3em;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	color: white;
}
.display{
	width: 100%;
	height: 50%;
	margin: 0 auto;
	text-align: center;
	/*overflow: auto;*/
	overflow:  visible;
	
}
.box{
	width: 100%;
	height: 100%;
	background-color:  burlywood;
}